.content{
    margin-top: -2em;
    display: inline-block;
    /*test*/
    margin: auto;
    width: 80%;
    text-align: left;
}

.content hr{
    width: 100%;
}

.article{
    width: 90%;
    display: none;
    margin-top: 1.5em;
    line-height: 1.8em;
    font-size: 1.5em;
    clear: both;
}

.subtitle{
    cursor: pointer;
    display: block;
    clear: both;
    color: #791F6C;
    font-weight: bold;
    font-size: 30px;
}

.subtitle i{
    float: right;
}

.contact{
    text-align: left;
    font-size: 1.3125em;
    padding: 0.1em 0;
    margin-top: 2em;
    color: #791F6C;
}

.extension, .mail{
    text-align: left;
    font-size: 1.3125em;
    padding: 0.1em 0;
    color: #791F6C;
}


.content hr{
    width: 100%;
}

.content h2{
    color: #791F6C;
    font-weight: bold;
}

.content h3{
    color: #141260;
    font-weight: bold;
}

.content h4{
    color: #888888;
    font-weight: bold;
}

.content table,th,td{
    padding: 0.5em;
    border-collapse: collapse;
    text-align: center;
}

.content table tr:nth-child(odd){
    background-color:#EEE8AA;
}

.content a{
    color: inherit;
}
