@media(max-width:768px){
    
    .cover{
        display:none;
    }
} 

/*************************
 *      slide show       *       
 *************************/
 
.carousel{
    height: 100%;
    width: 100%;
    margin: auto;
}
.item{
    float: center;
}
.carousel .item img{
    position: relative;
    height: 100%;
    margin: 0 auto; /* Align slide image horizontally center */
    max-width: none;
}

/*************************
 *      announcement     *       
 *************************/
 
.announce{
    margin:1em;
    font-size:2rem;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.announce .anno_date{
    padding: 0.8em;
    background-color: rgb(121,38,108);
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255,255,255,1);
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.announce .anno_title{
    padding: 0.8em;
    color: rgba(0,0,0,1);
    font-size: 2rem;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    text-align: left;
}

.announce:nth-child(odd) .anno_title{
    background-color: rgba(152,152,152,0.1);
}

.announce:nth-child(even) .anno_title{
    background-color: rgba(152,152,152,0.3);
}

.ano .anno_row{
    margin: auto;
    width: 80%;
    float: center;
}

.more_anno{
    width: 80%;
    margin: auto;
    font-size: 25px;
    text-align: right;
}

.more_anno a{
    color: #79266C;
}

/*************************
 *        popular        *
 *************************/

.popular .pop_row{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float: center;
    display: block;
}

.pop_item{
    list-style-type: none;
    padding: 10px;
}

.pop_title{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0;
    border: rgb(121,38,108) 2px solid;
    border-radius: 25px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease;
    -ms-transition: color 0.3s ease, background-color 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.pop_title:focus, .pop_title:hover{
    background-color: rgb(121,38,108) !important; 
    color: #FFFFFF !important;
}

.pop_item a{
    color: #000000;
    text-decoration: none;
}

.pop_item .drop{
    width: 100%;
    height: 0%;
    display: none;
}

.pop_item .drop div{
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
    box-shadow: 0px 4px 3px -4px rgb(121,38,108);
}


/*************************
 *    event deadline     *       
 *************************/

.deadline{
    display: block;
}
.event{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.event-header{
    padding: 1rem;
    display: block;
}

.event-date{
    padding:0.8em;
    background-color: rgb(121,38,108);
    font-weight:bold;
    font-size: 2rem;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    vertical-align: middle;
    display: block;
    color: #ffffff;
}

.event-title{
    padding:0.8em;
    background-color: rgba(152,152,152,0.4);
    font-weight:bold;
    font-size: 2rem;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    vertical-align: middle;
    display: block;
    color: #000000;
}