body{
    font-family:Microsoft JhengHei;
}

/*************************
 *    website header     *       
 *************************/
.roof{
    display: block;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
}

.roof img{
    max-width: 100%;
    height: 9%;
    float: left;
    position: relative;
    margin-top: 1rem;
}

.title{
    margin: 0 0 0 1.5rem;
}

.dept{
    background-image: url("./banner.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size:100% auto;
}

.dept div{
    margin: 10px 0;
}

.dept .college-left {
    margin-bottom: 0px;
}

.dept .college-left ul{
    float: left;
}

.dept .college-left .dpt, .dept .college-left .college{
    font-size: 28pt;
}

.dept .college-left .college-en{
    font-size: 13pt;
}

.dept .college-right {
    margin-top: 0px;
}

.dept .college-right ul{
    float: right;
}

.dept ul{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.dpt{
    display: inline;
    color: rgb(121,31,108);
}

.dpt + .dpt::before{
    padding-right: .5rem;
    padding-left: .5rem;
    content: "|";
}

.dpt a{
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 1.5rem;
}

/*************************
 *    navigation bar     *       
 *************************/

.navbar{
    background-color:rgb(121, 31, 108);
    border-color: rgb(121, 31, 108);
    font-size: 1.5em;
}

.nav li a{
    -webkit-transition: 0.3s ease;
    -webkit-transition-property: -webkit-transform background-color;
    background-color:rgb(121, 31, 108);
    color: #ffffff;
}

.nav li a:hover, .nav li a:focus{
    background-color: rgba(255,255,255,0.3); 
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: rgba(255,255,255,0.3);
}

.dropdown-menu {
    background-color: rgb(121,31,108); 
    font-size: 2rem;
    color: #000000;
}

.icon-bar{
    background-color: rgba(255,255,255,1);
}

section{
    text-align: center;
}

hr{
    width: 80%;
    border-bottom: 1px solid rgba(152,152,152);
}

/*************************
 *    website footer     *       
 *************************/

 
.footer{
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    display: block;
    background-color: rgb(121,31,108);
    color: #ffffff;
    text-align: center;
    z-index:20;
}

.footer img{
    height: 50px;
    margin-top: 1rem;
    vertical-align: middle;
    filter: brightness(150%);
}

.footer .row{
    margin: auto;
    width:100%;
}

.foot_info{
    list-style-type: none;
    line-height: 2.2rem;
    text-align: left;
    vertical-align: middle;
    padding: 1rem;
}

.foot_info div{
    text-align: center;
}

i{
    margin-right: 1rem;
}



@media(min-width:768px){
    body{
        padding-bottom: 6em;
    }
    .footer{
        position: fixed;
    }
    .foot_info div{
        text-align: left;
    }
} 
