@media(max-width:768px){
    
    .cover{
        display:none;
    }
} 

/*************************
 *      slide show       *       
 *************************/
 
.carousel{
    height: 100%;
    width: 100%;
    margin: auto;
}
.item{
    float: center;
}

.carousel-inner{
    z-index:-1;
}
.carousel-indicators{
    margin-left: 5rem;
}
.carousel-indicators li{
    background-color: white;
}
.carousel-indicators .active{
    background-color: rgb(121,38,108);
}
.carousel .item img{
    position: relative;
    height: 100%;
    margin: 0 auto; /* Align slide image horizontally center */
    max-width: none;
}

.dscrpt{
    background-color: rgba(0,0,0,0.8);
    margin-top: -40px;
    color: white;
}


/*************************
 *      announcement     *       
 *************************/
 
.announce{
    margin:1em;
    font-size:2rem;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.announce .anno_date{
    padding: 0.8em;
    background-color: rgb(121,38,108);
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255,255,255,1);
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.announce .anno_title{
    padding: 0.8em;
    color: rgba(0,0,0,1);
    font-size: 2rem;
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    text-align: left;
}

.announce:nth-child(odd) .anno_title{
    background-color: rgba(152,152,152,0.1);
}

.announce:nth-child(even) .anno_title{
    background-color: rgba(152,152,152,0.3);
}

.ano .anno_row{
    margin: auto;
    width: 80%;
    float: center;
}

.more_anno{
    width: 80%;
    margin: auto;
    font-size: 25px;
    text-align: right;
}

.more_anno a{
    color: #79266C;
}

